:root {
    --light-purple: #B75CFF;
    --middle-purple: #671AE4;
    --dark-purple: #181E41;
    --off-white: #E5E5E5;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding : 0;

}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--off-white);
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
    color: var(--white);
}

a:hover {
    font-weight: bold;
}

header {
    background-color: var(--dark-purple);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--white);
    align-items: center;
}

.header__info {
    padding-left: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
        list-style-type: none;
        margin: 0 5vh;
    }
}

.header__contact {
    background: linear-gradient(var(--light-purple), var(--middle-purple));
    border-radius: 100px;
    width: 134px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contact:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bold;
}

#home {
    background-color: var(--off-white);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 50px;
    }
    strong {
        color: var(--light-purple);
    }
}

.home__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5% 10%; 

}

.home__container__circle {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 4% 6%;
    background: linear-gradient(#b75cff, #671ae4);
    width: 200px;
    height: 20px;
    border-radius: 100px;
}

.home__container__photo img {
    width: 300px;
    height: auto;
}

#social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
        background: var(--dark-purple);
        height: 130px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.about-me {
    background: var(--light-purple);
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: flex-start;
    height: 350px;
    padding: 140px;
    color: var(--white);
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 30px;
        padding-left: 65px;
        padding-top: 15px;
        color: #ffffff80;
    }
}

#projects {
    box-sizing: border-box;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px

}

#projects a {
    background: linear-gradient(var(--light-purple), var(--middle-purple));
    height: 233px;
    width: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: var(--white);
    font-size: 30px;
    text-align: center;
    margin: 30px;
    margin-bottom: 10px

}

.github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    padding-left: 10px;
}

.writing {
    display: flex;
    flex-direction: column;
    justify-content:baseline; 
    align-items: flex-start;
    width: 50%;
    height: 70%;
    padding-top: 40px;
    color: var(--dark-purple);
}

.writing h2 {
    font-size: 40px;
}

.writing p {
    max-width: 80%;
    font-size: 20px;
    padding-top: 20px;
    color: var(--dark-purple);
    line-height: 1.5;
}